html, body {
    font-size: 4px;
    font-family: sans-serif;
    height: 100%;
}
h1{
	color: #C1C1C1;
	font-size: 8rem;
	padding: 5rem 8rem 2rem 8rem;	
}
h2{
	color: #C1C1C1;
	font-size: 4rem;
	padding: 9rem 1rem 1rem 1rem;
}
h3{
	color: #00A09B;
	font-size: 5rem;
	padding: 3rem 4rem 3rem 8rem;	
}
.header{
	align-items: baseline;
	background: white;
	display: flex;
	height: 32rem;
	justify-content: space-between;
	width: 100%;	
}
.header_left{
	align-items: baseline;
	display: flex;
	justify-content: flex-start;
}
.header_right{
	align-items: baseline;
	display: flex;
	justify-content: flex-end;
}
.header h1{
	color: #309d97;
	font-size: 12rem;
}
.header h2{
	padding: 2rem 48rem 2rem 6rem;
}
.passwords{
	align-items: baseline;
	display: inline-flex;
	padding: 2rem 11rem 2rem 6rem;
	size: 40rem;
}
.passwords_img{
	background: url('img/locker.jpg') no-repeat;
	padding: 2rem 1rem 4rem 1rem;
	width: 10rem;
}
.passwords_tittle{
	color: #00C4C0;
	font-size: 6rem;
}
.user{
	align-items: baseline;
	display: inline-flex;
	padding: 2rem 10rem 2rem 8rem;
	size: 40rem;
}
.user_name{
	color: #00A09B;
	font-size: 6rem;
	font-weight: bold;
	padding: 2rem 8rem 4rem 4rem;
}
.user_actions{
	background: url('img/arrow.jpg') no-repeat;
	padding: 2rem 2rem 4rem 1rem;
	width: 10rem;
}	
.content{
	background: #00A09B;
	display: flex
}
.packages{
	background: white;
	border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	margin-bottom: 10rem;
	margin-left: 10rem;
	margin-top: 15rem;
	overflow: hidden;
	width: 110rem;
}
.packages h2{
	padding: 9rem 7rem 1rem 7rem;
}
li{
	color: #C1C1C1;
	font-size: 4rem;
	padding: 5rem 6rem 5rem 6rem;
}
li:hover{
	color: #00A09B;
	font-size: 5rem;
	padding: 5rem 4rem 5rem 4rem;	
}
.add_package{
	align-items: stretch;
	display: flex;
	margin-bottom: 7rem;
}
input[type=text]{
  box-sizing: border-box;
  border-radius: 2rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  display: inline-block;margin: 8px 0;
  font-size: 5rem;
  margin-left: 5rem;
  padding: 12px 20px;
  width: 100%;
}
::placeholder {								/*Not sure if this is a good practice*/
  font-size: 5rem;
  size:5rem ;
}
.add_package_img{
	background: url('img/add.jpg') no-repeat;
	height: 15rem;
	margin-left: 5rem;	 
	padding: 1rem 0rem 0rem 15rem;
	width: 15rem;
}
.main_contain{
	align-items: baseline;
	background: white;
	display: flex;
	height: 32rem;
	justify-content: space-between;
}
.content_header{
	margin-top: 17rem;
}
/*.edit_img{
	background: url('img/trash.jpg') no-repeat;	
	width: 100rem;
	height: 100rem;
}
.trash_img{
	background: url('img/trash.jpg') no-repeat;	
	width: 100rem;
}*/